<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
	<h3>My name is <%= @listing.name %>.</h3>
	<p>I am running the <%= @listing.race %> on <%= @listing.raceday %> to raise money for <%= @listing.cause %>. Make me a bet.</p>
  </div>


<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
