<br>

<div class="row">
  <div class="col-md-4">
  	<div class="thumbnail">
      <%= image_tag @listing.user.avatar.url(:medium) %>
    </div>
  </div>

  <div class="col-md-8">
  	<h3>My name is <%= @listing.user.name %>.</h3>
  	<h2>I am running the <%= @listing.race %> on <%= @listing.raceday.strftime("%B %d, %Y") %> to raise money for <%= @listing.cause %>. </h2>
    <p>Make me a bet.</p>
  </div>
</div>

<div class="panel panel-default">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Starting Bet</th>
      <th>Maximum Bet</th>
      <th>Bonus Per Minute</th>
      <th>Projected Finish Time</th>
    </tr>
  </thead>
  <tbody>
    <% if @listing.bets.present? %>
      <% @listing.bets.each do |bet| %>
        <tr>
          <td><%= bet.name %></td>
          <td><%= bet.email %></td>
          <td><%= number_to_currency(bet.starting_bet) %></td>
          <td><%= number_to_currency(bet.maximum_bet) %></td>
          <td><%= number_to_currency(bet.bonus_per_minute) %></td>
          <td><%= bet.projected_finish_time %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<h3>Place your bets!</h3>
<%= form_tag listing_bets_path(@listing.id), method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>:
    <%= text_field_tag 'bet[name]', nil, placeholder: 'Alan Webb' %>
  </div>
  <div class="form-group">
    <%= label_tag :email %>:
    <%= text_field_tag 'bet[email]', nil, placeholder: 'bob@me.com' %>
  </div>
  <div class="form-group">
    <%= label_tag :starting_bet %>:
    <%= text_field_tag 'bet[starting_bet]', nil, placeholder: '$10' %>
  </div>
  <div class="form-group">
    <%= label_tag :maximum_bet %>:
    <%= text_field_tag 'bet[maximum_bet]', nil, placeholder: '$100' %>
  </div>
  <div class="form-group">
    <%= label_tag :bonus_per_minute %>:
    <%= text_field_tag 'bet[bonus_per_minute]', nil, placeholder: '$1' %>
  </div>
  <div class="form-group">
    <%= label_tag :projected_finish_time %>:
    <%= text_field_tag 'bet[projected_finish_time]', nil, placeholder: '4:00' %>
  </div>

  <div>
    <input type="submit" value="Pay via card" class="btn btn-primary" />
  </div>
<% end %>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
